body{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	padding: 0;
	margin: 0;
}
.container{
	width: 940px;
	margin: 0 auto;
}
div, p, form, input, span, button, a{
	box-sizing: border-box;
}

p{
	margin: 0;
	font-size: 15px;
	line-height: 1.6em;
}
ul, li{
	display: block;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
}
h2{
	font-size: 26px;
	color: #0e1b3e;
	text-align: center;
	padding-top: 110px;
}
h3{
	color: #0e1b3e;
	font-size: 22px; 	
}


.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.justify-content-between{
	justify-content: space-between;
}
.header{
background: rgba(74,125,252,1);
background: -moz-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(13,59,175,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,125,252,1)), color-stop(100%, rgba(13,59,175,1)));
background: -webkit-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(13,59,175,1) 100%);
background: -o-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(13,59,175,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(13,59,175,1) 100%);
background: linear-gradient(135deg, rgba(74,125,252,1) 0%, rgba(13,59,175,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a7dfc', endColorstr='#0d3baf', GradientType=1 );;
color:#fff;
padding-top: 65px;
padding-bottom: 60px;
text-align: center;
}

.main__text{
	font-size: 27px;
	color: #fff;
}
.main{
width: 600px;
height: 145px;
margin:170px auto 165px;
}
.main__button{
	margin: 29px auto;
}
.main__button:hover{
background: #fff;
color: #295fe5;
}
.button{
	border:1px solid #fff;
	border-radius: 100px;
	width: 216px;
	height: 55px;
	display: block;
	color: #fff;
    text-decoration: none;
    padding: 17px 0;
    font-weight: bold;
    text-align: center;
}
.withMe{
	box-shadow: 0 -40px 40px rgba(9, 9, 9, 0.39);
}
.me{
	margin-bottom: 85px;
}
.mission{
	width: 450px;
}

.line:after{
content: " ";
display: block;
height: 3px;
width: 72px;
background-color: #2d63eb;
margin: 29px 0 38px;
}
.mission__text{
	color: #303852;
	margin-bottom: 30px;

}
.mission__text a{
	color: #295fe5;
}
.mission__text a:hover{
	text-decoration: none;
}


.merit__icon{
	width: 53px;
	height: 53px;
	border-radius: 10px;
	margin-right: 22px;
}
 .merit__icon_bug{
   background: #2d63eb url('../img/bug.png') no-repeat center center;
 }
 .merit__icon_bell{
   background: #2d63eb url('../img/bell.png') no-repeat center center;
 }
 .merit__icon_storm{
   background: #2d63eb url('../img/storm.png') no-repeat center center;
 }
 .merit__icon_camera{
   background: #2d63eb url('../img/camera.png') no-repeat center center;
 }
.merit__skills{
	margin-bottom: 26px;
	margin-right: 124px;
	align-items: center;
}
.merit__title{
	color: #2d63eb;
	font-size: 16px;
	text-transform: none;
}
.merit__text{
	color: #b0b2b3;
}
.main-adventage__img{
	width: 75px;
	height: 75px;
	border:1px solid #ffa406;
	color: #ffa406;
	border-radius: 100%;
	padding: 25px auto;
	display: block;
	text-align: center;
	line-height: 73px;
	font-size: 30px;
	margin: 0 auto 14px auto;
}
.best{
	padding-bottom: 119px;
}

.why{
	margin-bottom: 70px;
}
.main-adventage__text{
	color: #0e1b3e;
	font-size: 16px;
	font-weight: bold;
}
.main-adventage__img_two{
	background-color: #ffa200;
	color: #fff;
}
.seems{
	background: #e6e9f1;
	padding-top:110px;
	padding-bottom: 114px;	
	text-align: center;


}
.famous{
	width: 414px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}
.famous__text{
	margin-top: 18px;
	margin-bottom: 24px;
	color: #0e1b3e;
	font-size: 14px;
}
.famous h2{
	padding: 0;
	margin: 0;
}
.famous__btn{
	background-color: #2d63eb;
	color: #fff;
	text-align: center;
	display: block;	
	margin: 0 auto;
}
.famous__btn:hover{
	background: #fff;
	color: #295fe5;
	border:1px solid #295fe5;
}
.footer{
	background-color: #06319e;
	color: #8f9ac9;
	font-size: 13px;
	padding-top: 45px;
	padding-bottom: 45px;
}
.konf{
color:#fff;
text-decoration: ;
font-size: 13px;
}